includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Strict comparison using === between null and mixed will always evaluate to false\.#'
    - '#Call to method addJS\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Context\\LegacyControllerContext\.#'
    - '#Call to method addCSS\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Context\\LegacyControllerContext\.#'
